.review-order .form{
  width: 70%;
  margin-left: 25%;
}

.review-order-title{
  font-size: 20px;
}

.css-iljtu2-MuiRating-root{
  font-size: 7.5rem!important;
  justify-content: center;
}

input[type="file"] {
  display: none;
}

.custom-file-upload{
  border: 1px solid rgba(91, 85, 85, 0.758);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 1%;
}

.review-order .btn{
  background-color: #f1eeeaaf;
  border: 1px solid rgba(91, 85, 85, 0.758);
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  opacity: 1;
  color: rgba(91, 85, 85, 0.758);
  height: 2em;
  width: 15em;
  font-size: 20px;
}

.review-order .btn:hover{
  background-color: rgba(92, 89, 89, 0.453);
  animation: pulse 1s infinite;
  transition: .3s;
}