.register .title{
  color:white;
}

.register-button{
  background-color: #ede8e283;
  border: 1px solid rgba(91, 85, 85, 0.758);
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  height: 45px;
  width: 130px;
  opacity: 1;
  color: rgba(91, 85, 85, 0.758);
}

.register-button:hover{
  background-color: #ffffff;
  animation: pulse 1s infinite;
  transition: .3s;
}

.register input{
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.register span{
  margin-right: 15px;
}