.review-screen{
  background-image: url("https://res.cloudinary.com/dc7llr1ic/image/upload/v1666366588/work-on-it/Review-background_001_g1rari.gif");
  background-repeat: no-repeat;
  background-size: cover;
}