.detail-order-message-panel {
  height: 50vh;
  margin-top: 1vh;
  overflow-y: scroll;
}

.detail-order-message-panel span {
  width: fit-content;
}

.detail-order-message-panel .detail-order-message-date {
  font-size: 10px;
}