.detail-order-message-panel {
  height: 50vh;
  margin-top: 1vh;
  overflow-y: scroll;
  background-color: #ffffffad;
}

.detail-order-message-panel span {
  width: fit-content;
}

.detail-order-message-panel .detail-order-message-date {
  font-size: 10px;
}

.select-status-order {
  width: 10vw;
}

.detail-order {
  overflow-x: hidden;
}

.detail-order>.row {
  padding-top: 5%
}

.detail-order-box{
  background-color: #ffffff3d;
}