.detail-order-box{
  background-color: #45726bad;
  color: white;
}

.detail-order-box-order{
  margin-right: 25%;
}

.detail-order-message-panel {
  height: 50vh;
  margin-top: 1vh;
  overflow-y: scroll;
  background-color: #ffffffad;
}

.detail-order-message-panel span {
  width: fit-content;
}

.detail-order-message-panel .detail-order-message-date {
  font-size: 10px;
}

.select-status-order {
  width: 10vw;
}

.detail-order {
  overflow-x: hidden;
}

.bg-success{
  --bs-bg-opacity: 1;
  background-color: #F0C6AA!important;
}

.bg-primary{
  --bs-bg-opacity: 1;
  background-color: #B0B9A7!important;
}

.button-send{
  width: 35px;
  border: none;
  border-radius: 10px;
  outline: none!important;
  background: #F0C6AA;
}