.account-screen {
  background-image: url("https://res.cloudinary.com/dc7llr1ic/image/upload/v1666430034/work-on-it/Login_and_Register_zkyotn.gif");
  background-repeat: no-repeat;
  background-size: cover;
}