.home-screen-carousel .home-img{
  background-repeat: no-repeat;
  background-size: cover;
}

.home-screen-carousel .carousel-slider, .slider-wrapper, .slider-wrapper ul , .slider-wrapper ul li {
  height: 100%!important;
}

.home-screen-carousel .home-img.img1{
  background-image: url("../../../public/utils/images/home.png");
}

.home-screen-carousel .home-img.img2{
  background-image: url("../../../public/utils/images/home2.png");
}

.home-screen-carousel .home-img.img3{
  background-image: url("../../../public/utils/images/home3.png");
}