.navbar {
  background-color: black;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu-left {
  background-color: black;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  top: 0;
  transition: 850ms;
}

.nav-menu-left.active {
  left: 0;
  transition: 350ms;
}

.nav-menu-right {
  background-color: black;
  width: 25vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 100%;
  top: 0;
  transition: 550ms;
}

.nav-menu-right.active {
  left: 75%;
  transition: 350ms;
}

.nav-text {
  display: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: blue;
}

.nav-menu-items {
  width: 100%;
  padding-left: 0;
}

.navbar-toggle {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}