.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.menu-bars {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 2rem;
  position: relative;
}

.menu-bars-action-required{
  left: -3rem;
  top: -2rem;
}

.nav-menu-left {
  background-color: rgba(255, 255, 255, 0.843);
  padding: 3% 1%;
  width: 13%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  top: 0;
  transition: 850ms;
  z-index: 1;
}

.nav-menu-left.active {
  left: 0;
  transition: 350ms;
  z-index: 1;
}

.nav-menu-right {
  background-color: rgba(255, 255, 255, 0.843);
  width: 16.5%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 100%;
  top: 0;
  transition: 550ms;
  z-index: 1;
}

.nav-menu-right.active {
  left: 84%;
  transition: 350ms;
  z-index: 1;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 8px;
  list-style: none;
  height: 60px;
  margin-top: 8px;
}

.nav-text a {
  text-decoration: none;
  color: #B58D71;
  font-size: 18px;
  height: 100%;
  border-radius: 4px;
  transition: 550ms;
}

.nav-text a:hover {
  color:#413221;
  margin-left: 10px;
  transition: 650ms;
}

.nav-menu-items {
  width: 100%;
  padding-left: 0;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar-toggle button {
  color: #B58D71;
}

.navbar-toggle button:hover {
  color:#413221;
}

.profile-img {
  width: 3em;
  border-radius: 50px;
}

.navbar-toggle .menu-bars-login{
  text-decoration: none;
  color: #B58D71;
  font-size: 18px;
  margin-left: 10px;
  transition: 550ms;
}
.navbar-toggle a:hover {
  margin-left: 20px;
  color:#413221;
  transition: 650ms;
}

.menu-bars-logout{
  text-decoration: none;
  color: #B58D71;
  font-size: 18px;
  all: unset;
  cursor: pointer;
  width: 100px;
  transition: 550ms;
}

.menu-bars-logout:hover {
  width: 80px;
  transition: 650ms;
}

.menu-bars-logout:hover .logout{
  opacity: .9;
}

.menu-bars-logout {
  text-decoration: none;
}

.nav-menu-items span {
  margin-left: 16px;
}