.create-service-form {
  font-size: 18px;
  margin-right: 10%;
  width: 35%;
}

.title{
  font-weight: 400px;
  font-size: 24px;
  color: rgba(205, 100, 100, 0.4);
  margin-bottom: 4%;
  margin-top: 2%;
}

.create-service {
  background-image: url("https://res.cloudinary.com/dc7llr1ic/image/upload/v1666366111/work-on-it/service-create-001_ghzq0i.gif");
  background-size: cover;
  background-repeat: no-repeat;
}
