.service{
  padding-top: 5%;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.img{
  width: 800px;
}

.details{
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "EB Garamond", serif;
}

.bio{
  font-size: 26px;
  font-style: italic;
  margin-bottom: 14px;
  transition-delay: 0.2s;
}

.nickname{
  font-size: 100px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1em;
}

.list{
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  margin-top: 14px;
  margin-bottom: 60px;
}

.reviews{
  margin-top:10%;
  justify-content: center
}

.reviews div{
  margin-bottom: 4rem;
  width: 900px;
}

.reviews img{
  height: 380px;
  width: 500px;
}

.button{
  background-color: #ffffff;
  border: 1px solid rgba(43, 41, 41, 0.6);
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 130px;
  opacity: 1;
}

.button:hover{
  background-color: #ffffff;
  animation: pulse 1s infinite;
  transition: .3s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}

.me-service-screen{
  background-image: url("https://res.cloudinary.com/dc7llr1ic/image/upload/v1666436080/work-on-it/Background-004_anbscd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

.me-service-title{
  margin-top: 2.5%;
  padding-left: 10%;
  color:white;
  font-size: 50px;
}

.message-update-service {
  margin-bottom: -4rem;
  transition: 350ms;
}

.message-update-service.active {
  margin-bottom: 7rem;
  transition: 350ms;
}

.service-detail {
  background-color: antiquewhite;
}

.me-service-form{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(139, 136, 136, 0.263);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.me-service-form input, .me-service-form textarea{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.me-service-screen .row{
  height: 20rem ;
}