.list-service {
	background-image: url("https://res.cloudinary.com/dc7llr1ic/image/upload/v1666442259/work-on-it/Professionals-list_gif_cdsuln.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

.title-services {
	font-size: 40px;
	padding-top: 2em;
}

.filter-box div {
	margin-left: 3%;
}

.list-card {
	border-radius: 6px;
	box-shadow: 0 0 2px 0 #ccc;
	transition: .3s;
	margin: 5%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	background-color: white;
}

.list-card:hover {
	transform: scale(1.1);
	box-shadow: 0 0 25px -5px #ccc;
}

.list-img{
	margin-top: 1vh;
	margin-bottom: 1vh;
	height: 25vh;
	width: 100%;
	object-fit: cover;
	border-radius: 5%;
}

.list-profession {
	color: rgba(0, 0, 0, 0.259);
}

.list-details {
	width: 100%;
	justify-content: space-around;
}

.filter-box-cursor {
	cursor: pointer;
}